In [6]:
import pandas as pd
import os

In [3]:
files = [file for file in os.listdir('./Sales_Data')]

In [13]:
dataset = pd.DataFrame()

for file in files:
    dataset = pd.concat([dataset,pd.read_csv(f'./Sales_Data/{file}')], ignore_index=True)

In [16]:
dataset.to_csv('Checkpoint1.csv', index=False)

In [31]:
dataset

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,176558,USB-C Charging Cable,2,11.95,04/19/19 08:46,"917 1st St, Dallas, TX 75001"
1,NaN,NaN,NaN,NaN,NaN,NaN
2,176559,Bose SoundSport Headphones,1,99.99,04/07/19 22:30,"682 Chestnut St, Boston, MA 02215"
3,176560,Google Phone,1,600,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"
4,176560,Wired Headphones,1,11.99,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"
...,...,...,...,...,...,...
186845,259353,AAA Batteries (4-pack),3,2.99,09/17/19 20:56,"840 Highland St, Los Angeles, CA 90001"
186846,259354,iPhone,1,700,09/01/19 16:00,"216 Dogwood St, San Francisco, CA 94016"
186847,259355,iPhone,1,700,09/23/19 07:39,"220 12th St, San Francisco, CA 94016"
186848,259356,34in Ultrawide Monitor,1,379.99,09/19/19 17:30,"511 Forest St, San Francisco, CA 94016"
186849,259357,USB-C Charging Cable,1,11.95,09/30/19 00:18,"250 Meadow St, San Francisco, CA 94016"

In [32]:
dataset['Month'] = dataset['Order Date'].str.slice(0,2)

In [50]:
dataset.dropna(inplace=True)

In [54]:
drop_index = dataset.loc[ dataset['Month'] == 'Or'].index

In [55]:
dataset.drop(drop_index, inplace=True)

In [66]:
dataset['Quantity Ordered'] = pd.to_numeric(dataset['Quantity Ordered'])
dataset['Price Each'] = pd.to_numeric(dataset['Price Each'])

In [67]:
dataset['Total Sales'] = dataset['Quantity Ordered'] * dataset['Price Each']

In [86]:
#
dataset.groupby('Month').sum()['Total Sales'].max()

SyntaxError: leading zeros in decimal integer literals are not permitted; use an 0o prefix for octal integers (2908621210.py, line 3)

In [87]:
dataset['City'] = dataset['Purchase Address'].apply(lambda city: city.split(',')[1])

In [105]:
dataset.groupby('City').agg({'Total Sales':sum}).sort_values('Total Sales', ascending=False)

                Total Sales
City
 San Francisco   8262203.91
 Los Angeles     5452570.80
 New York City   4664317.43
 Boston          3661642.01
 Atlanta         2795498.58
 Dallas          2767975.40
 Seattle         2747755.48
 Portland        2320490.61
 Austin          1819581.75

In [107]:
dataset['Order Date'] = pd.to_datetime(dataset['Order Date'])

In [109]:
dataset['Time'] = dataset['Order Date'].dt.hour

In [114]:
dataset.groupby('Time').agg({'Total Sales' : sum}).sort_values('Total Sales',ascending=False)

      Total Sales
Time
19     2412938.54
12     2316821.34
11     2300610.24
20     2281716.24
18     2219348.30
13     2155389.80
17     2129361.61
14     2083672.73
21     2042000.86
10     1944286.77
15     1941549.60
16     1904601.31
9      1639030.58
22     1607549.21
8      1192348.97
23     1179304.44
7       744854.12
0       713721.27
1       460866.88
6       448113.00
2       234851.44
5       230679.82
4       162661.01
3       145757.89

In [171]:
most_bht_together = dataset[['Order ID','Product']]

In [172]:
most_bht_together = most_bht_together.groupby('Order ID')['Product'].transform(lambda prod : ','.join(prod)).reset_index(name = 'Product Pair')

In [175]:
most_bht_together.drop_duplicates('Product Pair',inplace=True)

In [189]:
def len_split(pair):
    return len(pair.split(','))


most_bht_together['No of pair'] = most_bht_together['Product Pair'].apply(lambda pair: len(pair.split(',')))
most_bht_together

         index                                       Product Pair  No of pair
0            0                               USB-C Charging Cable           1
1            2                         Bose SoundSport Headphones           1
2            3                      Google Phone,Wired Headphones           2
4            5                                   Wired Headphones           1
8            9                                 Macbook Pro Laptop           1
...        ...                                                ...         ...
173016  173856                    LG Dryer,27in 4K Gaming Monitor           2
173360  174201  Google Phone,USB-C Charging Cable,Wired Headph...           4
175991  176840                  LG Dryer,Lightning Charging Cable           2
176941  177793                           ThinkPad Laptop,LG Dryer           2
179140  180004           LG Washing Machine,AA Batteries (4-pack)           2

[385 rows x 3 columns]

In [165]:
product_analysis =  dataset.groupby('Product')['Product'].agg('count').sort_values(ascending=False).reset_index(name = 'Total Count')

In [169]:
product_analysis.loc[product_analysis['Total Count'] == product_analysis['Total Count'].max(), 'Product']

0    USB-C Charging Cable
Name: Product, dtype: object

In [180]:
array = "10,20,30"
len(array.split(','))

3